.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 80px;
}
.textcontainer {
  margin-top: 25px;
  margin-bottom: 25px;
}

.filtercontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.barracontainer {
  width: 100%;
  display: flex;
  gap: 15px;
}
.search {
  width: 290px;
  height: 40px;
}
.select {
  width: 210px;
  height: 40px;
}
.usuarios {
  color: rgba(0, 0, 0, 0.45);
}
.buttoncontainer {
  display: flex;
  justify-content: space-between;
}
.buttonprimary {
  width: 140px;
  height: 40px;
}
